<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Course Name</th>
      <th>Course Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <% if language.user_id == current_user.id %> 
        <br>
        <tr>
          <td><%= link_to language.course_name, language %></td>
          <td>$<%= number_with_precision(language.price, :precision => 2, :delimiter => ',') %></td>
          <td><center></current><%= link_to 'Edit', edit_language_path(language) %></center></td>
          <td><center><%= link_to 'Delete', language, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_language_path %>
